[Unit]
Description=Lamp service
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/code/led.py --on_lamp=True --debug
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=led
Restart=on-abort

[Install]
WantedBy=multi-user.target
